/* Estilos de equipos */
.fa-hospital-alt{
    font-size: 2rem;
}
.card-body .card-title{
    font-size: 0.9rem;
    color: #2D6A4F;
}
/* Propiedades botón */
.btn-light{
    color: #40916C;
}

.btn-light:hover{
    color: #52B788;
    font-size: 1.05rem;
}

.card{
    background-color: #B7E4C7;
    box-shadow: 1px 5px 5px #888888;
    position: static;
}

.acciones {
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.acciones li {
    float: left;
}

.acciones li button {
    color: #fff;
    font-size: 25px;
}

.acciones li button.eliminar {
    color: red;
}

#boton-crear-equipo {
    font-size: 2rem;
    margin: 0px 0px;
    color: #1B4332;
    background-color: #95D5B2;
    text-decoration: none;
    border: 1px solid;
    float: right;
  }